@font-face {
  font-family: "plus-jakarta-sans";
  src: url(./fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  --main-font: "plus-jakarta-sans";
}

* {
  box-sizing: border-box;
  font-family: "plus-jakarta-sans";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
}
